@import "normalize.css/normalize.css";

@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  border: 1px solid black;
}

.main-wrapper {
  height: calc(100vh - 56px); // 56px is height of slider bar
}

.track-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.track-button {
  margin-left: 2px;
}

.track-slider {
  margin-left: 20px;
  margin-right: 10px;
}